<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handlebars</title>
  </head>
  <body>
    <h1>Dear {{data.name}}</h1>
    <p>country: {{data.origin}}</p>
    <p>gender: {{data.gender}}</p>
  </body>
</html>